################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarsRover/.vs/MarsRover/v16/Server/sqlite3/db.lock
